.form {
    width: 40%;
    margin: 1rem auto;
    border: solid thin;
    padding: 20px;

    .input-container {
        margin-bottom: 10px;
        input {
            width: 100%;
        }
    }
}



